---
import { getCollection } from "astro:content";

const services = await getCollection("service");
const categories = await getCollection("category");
---

<nav class="bg-primary">
  <div class="flex flex-wrap items-center justify-between mx-auto p-4">
    <div
      class="flex flex-row gap-8 w-full justify-between sm:justify-normal sm:w-[unset]"
    >
      <!-- BURGER START -->
      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg lg:hidden hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-gray-200"
        aria-controls="navbar-default"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
      <!-- BURGER END -->
      <!-- TODO: Cambiar flowbite -->
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <span
          class="self-center text-2xl font-semibold whitespace-nowrap text-white font-coda"
          >CAMPORSAL</span
        >
      </a>
    </div>

    <div
      class="flex flex-row w- gap-8 w-full justify-end sm:justify-normal sm:w-[unset]"
    >
      <div class="hidden w-full lg:flex lg:items-center lg:w-auto">
        <ul
          class="font-medium text-base flex flex-col p-4 lg:p-0 mt-4 border border-white rounded-lg lg:flex-row lg:space-x-8 rtl:space-x-reverse lg:mt-0 lg:border-0"
        >
          <li>
            <button
              id="dropdownProductLink"
              data-dropdown-toggle="dropdownProduct"
              class="flex items-center text-lg font-semibold w-full justify-between py-2 px-3 text-white rounded hover:bg-secondary lg:hover:bg-transparent lg:border-0 lg:hover:text-secondary lg:p-0"
              >PRODUCTOS <svg
                class="w-2.5 h-2.5 ms-2.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 4 4 4-4"></path>
              </svg></button
            >
            <!-- Dropdown menu -->
            <div
              id="dropdownProduct"
              class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
            >
              <ul
                class="py-2 text-sm text-gray-700 dark:text-gray-200"
                aria-labelledby="dropdownLargeButton"
              >
                {
                  categories.map((category) => (
                    <li>
                      <a
                        href={`/categorias/${category.slug}/`}
                        class="block  font-medium text-base px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                      >
                        {category.data.pluralName}
                      </a>
                    </li>
                  ))
                }
                <li>
                  <a
                    href="/productos"
                    class="block font-medium text-base px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >
                    Ver Todos
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <button
              id="dropdownServiceLink"
              data-dropdown-toggle="dropdownService"
              class="flex items-center text-lg font-semibold w-full justify-between py-2 px-3 text-white rounded hover:bg-secondary lg:hover:bg-transparent lg:border-0 lg:hover:text-secondary lg:p-0"
              >SERVICIOS <svg
                class="w-2.5 h-2.5 ms-2.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 4 4 4-4"></path>
              </svg></button
            >
            <!-- Dropdown menu -->
            <div
              id="dropdownService"
              class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
            >
              <ul
                class="py-2 text-sm text-gray-700 dark:text-gray-200"
                aria-labelledby="dropdownLargeButton"
              >
                {
                  services.map((service) => (
                    <li>
                      <a
                        href={`/servicios/${service.slug}/`}
                        class="block font-medium text-base px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                      >
                        {service.data.name}
                      </a>
                    </li>
                  ))
                }
              </ul>
            </div>
          </li>
          <li>
            <a
              href="/nosotros"
              class="block py-2 px-3 text-white rounded hover:bg-secondary lg:hover:bg-transparent lg:border-0 lg:hover:text-secondary lg:p-0"
              >NOSOTROS</a
            >
          </li>
        </ul>
      </div>
      <div class="flex flex-row-reverse gap-4">
        <button type="button" class="text-white">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            fill="currentColor"
            class="bi bi-whatsapp"
            viewBox="0 0 16 16"
          >
            <path
              d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232"
            ></path>
          </svg>
        </button>
        <div class="flex flex-col items-end gap-2 text-xs text-white">
          <span>+51 938 382 634</span>
          <span>contacto@ciacamporsal.com</span>
        </div>
      </div>
    </div>
    <div class="hidden w-full lg:hidden" id="navbar-default">
      <ul
        class="font-medium text-base flex flex-col p-4 lg:p-0 mt-4 border border-white rounded-lg lg:flex-row lg:space-x-8 rtl:space-x-reverse lg:mt-0 lg:border-0"
      >
        <li>
          <button
            id="dropdownProductLink"
            data-dropdown-toggle="dropdownProductLink2"
            class="flex items-center text-lg font-semibold w-full justify-between py-2 px-3 text-white rounded hover:bg-secondary lg:hover:bg-transparent lg:border-0 lg:hover:text-secondary lg:p-0"
            >PRODUCTOS <svg
              class="w-2.5 h-2.5 ms-2.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"></path>
            </svg></button
          >
          <!-- Dropdown menu -->
          <div
            id="dropdownProductLink2"
            class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
          >
            <ul
              class="py-2 text-sm text-gray-700 dark:text-gray-200"
              aria-labelledby="dropdownLargeButton"
            >
              {
                categories.map((category) => (
                  <li>
                    <a
                      href={`/categorias/${category.slug}/`}
                      class="block font-medium text-base px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >
                      {category.data.pluralName}
                    </a>
                  </li>
                ))
              }
              <li>
                <a
                  href="/productos"
                  class="block font-medium text-base px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >
                  Ver Todos
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <button
            id="dropdownServiceLink"
            data-dropdown-toggle="dropdownServiceLink2"
            class="flex items-center text-lg font-semibold w-full justify-between py-2 px-3 text-white rounded hover:bg-secondary lg:hover:bg-transparent lg:border-0 lg:hover:text-secondary lg:p-0"
            >SERVICIOS <svg
              class="w-2.5 h-2.5 ms-2.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"></path>
            </svg></button
          >
          <!-- Dropdown menu -->
          <div
            id="dropdownServiceLink2"
            class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
          >
            <ul
              class="py-2 text-sm text-gray-700 dark:text-gray-200"
              aria-labelledby="dropdownLargeButton"
            >
              {
                services.map((service) => (
                  <li>
                    <a
                      href={`/servicios/${service.slug}/`}
                      class="block font-medium text-base px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >
                      {service.data.name}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </li>
        <li>
          <a
            href="/nosotros"
            class="block py-2 px-3 text-white rounded hover:bg-secondary lg:hover:bg-transparent lg:border-0 lg:hover:text-secondary lg:p-0"
            >NOSOTROS</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
