---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const services = await getCollection("service");
---

<section class="grid grid-rows-[auto_minmax(0,_1fr)] w-full gap-4">
  <h2 class="p-4 lg:p-0 font-coda font-semibold text-2xl uppercase self-center">Servicios</h2>
  <div
    class="py-2 grid gap-4 grid-flow-col grid-cols-[repeat(auto-fit,_minmax(16rem,_1fr))] auto-cols-[minmax(16rem,_1fr)] overflow-x-auto"
  >
    {
      services.map((service) => (
        <article class="group grid grid-rows-[minmax(0,_1fr)_auto] rounded-lg border border-gray-100 bg-white shadow-md cursor-pointer">
          <a
            class="flex rounded-t-lg h-60 overflow-hidden"
            href={`/servicios/${service.slug}`}
          >
            <Image
              class={
                "w-full h-full object-cover transition duration-300 ease-in-out group-hover:scale-110"
              }
              src={service.data.image}
              alt={service.data.imageAlt}
            />
          </a>
          <a class="p-4" href={`/servicios/${service.slug}`}>
            <h3 class="text-xl font-bold tracking-tight transition duration-300">
              {service.data.name}
              <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-primary" />
            </h3>
          </a>
        </article>
      ))
    }
  </div>
</section>
